@model Capstone_Project.Models.Participant

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div>
    <h4>Participant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.firstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Log)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Log)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anonymous)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anonymous)
        </dd>
        <dt class="col-sm-2">
    </dl>
</div>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Author</th>
            <th scope="col">Quote</th>
        </tr>
    </thead>
    <tbody id="Quotes">
        <tr class="table-active"></tr>
        
    </tbody>
</table>
@*<script type="text/javascript" src="./site.js"></script>*@
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-action="CreateEvent">Create a Event</a>
</div>
